%h3
  %a{:href => task_path(super_task)}= super_task.title

.span5
  %ul#sortable.unstyled
    - tasks.each do |task|
      %li= render :partial => 'tasks/brief', :locals => {:task => task, :active => current_task == task}
.span5
  - if current_task
    = render :partial => 'tasks/full', :locals => {:task => current_task}
  - else
    Pick a task from the left!


%br

= link_to 'New Task', new_task_path(:params => {:super_task_id => super_task.id})
