.well.sidebar-nav
  %h3 Tracker
  %ul.nav.nav-list
    %li.nav-header Favorites
    %li.active
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li.nav-header Owner On
    - current_user.owned_tasks.limit(10).each do |task|
      %li
        %a{:href => task_path(task)}= task.title.truncate(12)
    %li.nav-header Author of
    - current_user.authored_tasks.limit(10).select{ |t| t.super_task.present? }.each do |task|
      %li
        %a{:href => task_path(task)}= task.title.truncate(12)
